@model OrdemServico.Models.Equipamento

@{
    ViewData["Title"] = "Criar Equipamento";
}

<div class="container">
    <h1 class="text-center">Cadastrar Equipamento</h1>
    <hr />
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NomeEquipamento" class="control-label">Nome do Equipamento</label>
                    <input asp-for="NomeEquipamento" class="form-control" />
                    <span asp-validation-for="NomeEquipamento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Criar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index" class="btn btn-secondary">Voltar para a lista</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
